.subcategories-checker-container {
	max-width: 1040px;
	margin: 0 auto;
	background: white;
}

.subcategories-checker-container .breadcrumb {
	font-size: 19px;
	margin-bottom: 0;
	border-bottom: 2px solid #ddd;
	padding-bottom: 0;
}
.category > .subcategory p {
	display: none;
}
body.subcategory-checker ul.categories {
	margin-bottom: 0;
}
body.subcategory-checker ul.categories li[component="categories/category"] .stats, body.subcategory-checker ul.categories li[component="categories/category"] .teaser {
	display:none;
}
body.subcategory-checker ul.categories li[component="categories/category"] {
	border: none;
	position: relative;
	padding-left: 18px;
	margin: 0;
	margin-right: 13px;
	display: inline-block;
	min-height: 38px;
	padding-bottom: 0;
}
body.subcategory-checker ul.categories li[component="categories/category"] .content {
	display: inline;
	float: none;
	line-height: 28px;
	padding: 0;
}
body.subcategory-checker ul.categories li[component="categories/category"] .icon {
	display: inline-block;
	/* transform: scale(0.5); */
	/* transform-origin: 0 0; */
	font-size: 17px;
	line-height: 17px;
	padding: 6px;
	border-radius: 50%;
	margin-right: 5px;
	min-width: 23px;
	min-height: 23px;
	margin-top: 2px;
}
body.subcategory-checker ul.categories li[component="categories/category"] .icon i {
	width: 23px !important;
}
body.subcategory-checker ul.categories li[component="categories/category"] .content h2{
	display: inline;
	margin-left: 0;
	font-size: 14px;
}
body.subcategory-checker ul.categories li[component="categories/category"] .content h2 a{
	display: inline;
	white-space: pre;
}
body.subcategory-checker ul.categories li[component="categories/category"]:before,body.subcategory-checker  ul.categories li[component="categories/category"]:after {
	display: none;
}
.subcategories-checker-subcategory-checkbox {
	position: absolute;
	cursor: pointer;
	top: 12px;
	left: 0;
}


div.category {
	margin-top: 20px;
}
